albumentations==2.0.8
comet_ml==3.54.2
coremltools==9.0
Flask==1.1.2
GitPython==3.1.45
ipython==8.12.3
keyboard==0.13.5
matplotlib==3.7.1
matplotlib==3.5.2
mss==10.1.0
nncf==2.18.0
numpy==1.23.4
numpy==1.21.5
onnx==1.19.1
onnxruntime==1.23.2
onnxsim==0.4.36
openvino==2025.3.0
paddle==1.1.15
pafy==0.5.5
pandas==1.4.4
paramiko==2.8.1
Pillow==9.2.0
Pillow==12.0.0
psutil==5.9.0
pypylon==4.2.0
PyYAML==6.0
PyYAML==6.0.3
Requests==2.32.5
scipy==1.10.1
scipy==1.9.1
scp==0.15.0
screeninfo==0.8.1
seaborn==0.11.2
setuptools==68.0.0
setuptools==63.4.1
tensorflow==2.3.0
tensorflowjs==4.22.0
tensorrt==10.14.1.48.post1
tflite_runtime==2.14.0
tflite_support==0.4.4
thop==0.1.1.post2209072238
torch==1.11.0
torch==1.12.1
torchvision==0.12.0
torchvision==0.13.1a0
tqdm==4.64.1
train==0.0.5
tritonclient==2.63.0
ultralytics==8.3.232
x2paddle==1.6.0
